Exercise: **Taxes**

In an imaginary country called Lisarb, all the people are very happy to pay their taxes because they know that doesnâ€™t exist corrupt politicians and the taxes are used to benefit the population, without any misappropriation. The currency of this country is Rombus, whose symbol is R$.

Read a value with 2 digits after the decimal point, equivalent to the salary of a Lisarb inhabitant. Then print the due value that this person must pay of taxes, according to the table: https://resources.urionlinejudge.com.br/gallery/images/problems/UOJ_1051_en.png

Remember, if the salary is 3002.00 for  example, the rate of 8\% is only over 1000.00, because the salary from 0.00 to 2,000.00 is tax free. In the follow example, the total rate is 8\% over 1000.00 + 18\% over 2.00, resulting in 80.36 at all. The answer must be printed with 2 digits after the decimal point.

**Input:**
The input contains only a float-point number, with 2 digits after the decimal point.

**Output:**
Print the message "R$" followed by a blank space and the total tax to be payed, with two digits after the decimal point. If the value is up to 2000, print the message "Isento".

In [1]:
salary = float(input())

total_rate = 0

if salary<=2000:
    print("Isento")
    
else:
    if 2000 < salary <=3000:
        salary-=2000
        total_rate += salary*0.08
        
    
    elif 3000 < salary <=4500:
        free= 2000
        first_tax = 1000
        rest = salary - free - first_tax
        
        total_rate += first_tax*0.08
        total_rate += rest*0.18
            
    elif salary>4500:
        free= 2000
        first_tax = 1000
        second_tax = 1500
        rest = salary - free - first_tax - second_tax
        
        total_rate += first_tax*0.08
        total_rate += second_tax*0.18
        total_rate += rest* 0.28
    
    print("R$ {:.2f}".format(total_rate))

500
Isento

Exercise:**Month**

Read an integer number between 1 and 12, including. Corresponding to this number, you must print the month of the year, in english, with the first letter in uppercase.

**Input:**
The input contains only an integer number.

**Output:**
Print the name of the month according to the input number, with the first letter in uppercase.

In [2]:
number = int(input())

calendar = {
        1: "January",
        2: "February",
        3: "March",
        4: "April",
        5: "May",
        6: "June",
        7: "July",
        8: "August",
        9: "September",
        10: "October",
        11: "November",
        12: "December"
    }

print(calendar[number])

10
October

Exercise:**Even Numbers**

Write a program that prints all even numbers between 1 and 100, including them if it is the case.

Input
In this extremely simple problem there is no input.

Output
Print all even numbers between 1 and 100, including them, one by row.

In [3]:
for x in range(1,101):
    if x%2==0:
        print(x)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100